<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
  <h1>Dashboard</h1>
  <nav>
    <% if (userRole === "admin") { %>
      <a href="/publisher">Publisher</a>
      <a href="/magazine">Magazine</a>
      <a href="/profile/">Profile</a>
    <% } else { %>
      <a href="/magazine">Magazine</a>
      <a href="/profile/">Profile</a>
    <% } %>
  </nav>
  <a href="/logout">Logout</a>
</body>
</html>